[submodule "arduino_cmake"]
	path = arduino_cmake
	url = https://github.com/mitikkak/arduino_cmake.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "Adafruit-GFX-Library"]
	path = Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "Adafruit-PCD8544-Nokia-5110-LCD-library"]
	path = Adafruit-PCD8544-Nokia-5110-LCD-library
	url = https://github.com/bbx10/Adafruit-PCD8544-Nokia-5110-LCD-library.git
[submodule "Adafruit-PCD8544-ShiftOut"]
	path = Adafruit-PCD8544-ShiftOut
	url = https://github.com/mitikkak/Adafruit-PCD8544-ShiftOut.git
[submodule "NEO-6M_GPS"]
	path = NEO-6M_GPS
	url = https://github.com/PowerBroker2/NEO-6M_GPS.git
[submodule "ESPAsyncUDP"]
	path = ESPAsyncUDP
	url = https://github.com/me-no-dev/ESPAsyncUDP.git
